OmniPot/src/OmniPot/obj/
OmniPot/src/OmniPot/bin/
OmniPot/src/OmniPot/node_modules/
OmniPot/src/OmniPot/wwwroot/js/
OmniPot/src/OmniPot/wwwroot/app/
OmniPot/src/OmniPot/wwwroot/template/
OmniPot/src/OmniPot.Common/bin/
OmniPot/src/OmniPot.Common/obj/
OmniPot/src/OmniPot.Data/bin/
OmniPot/src/OmniPot.Data/obj/