
<section class="content">
    <h1>Push In Menu Demo</h1>
    <form novalidate (ngSubmit)="save(myForm.value, myForm.valid)"><!--[formGroup]="myForm"--> 
        <div class="main-white-block col-sm-12">
            <h2 class="h2">New User Registration</h2>
            <div class="row">
                <div class="col-sm-12 col-md-11">
                    <div class="form-horizontal">
                        <div class="row offset-bottom-3">
                            <div class="col-sm-12">
                                <h3 class="h3 ">General</h3>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="email">
                                                First Name<br>
                                                <span class="text-muted">Storefront or Grow</span>
                                            </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="firstname" formControlName="firstname" placeholder="John">
                                                <control-messages [control]="myForm.controls.firstname" class="help-block"></control-messages>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="pwd">
                                                Middle Name<br>
                                                <span class="text-muted">Optional</span>
                                            </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="middlename" formControlName="middlename" placeholder="Middle Name">
                                                <control-messages [control]="myForm.controls.middlename" class="help-block"></control-messages>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="email">
                                                Last Name<br>
                                                <span class="text-muted">Last Name</span>
                                            </label>
                                            <div class="col-sm-7">
                                                <input type="email" class="form-control" id="lastname" formControlName="lastname" placeholder="Last Name">
                                                <control-messages [control]="myForm.controls.lastname" class="help-block"></control-messages>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="pwd">
                                                Date of Birth<br>
                                                <span class="text-muted">MM/DD/YYYY</span>
                                            </label>
                                            <div class="col-sm-7">
                                                <input type="date" class="form-control" id="dateofbirth" formControlName="dataofbirth" placeholder="">
                                                <control-messages [control]="myForm.controls.dateofbirth" class="help-block"></control-messages>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row offset-bottom-3">
                            <div class="col-sm-12">
                                <h3 class="h3 ">
                                    Contact Details
                                    <span></span>
                                </h3>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="email">
                                                Country<br>
                                                <span class="text-muted">Select Country</span>
                                            </label>
                                            <div class="col-sm-7">
                                                <select class="form-control" id="sel1">
                                                    <option>United States of America</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="pwd">
                                                State<br>
                                                <span class="text-muted">Select State</span>
                                            </label>
                                            <div class="col-sm-7">
                                                <select class="form-control" id="sel1">
                                                    <option>Arizona</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="email">
                                                City<br>
                                                <span class="text-muted">Select City</span>
                                            </label>
                                            <div class="col-sm-7">
                                                <select class="form-control" id="sel1">
                                                    <option>City</option>
                                                    <option>City 1</option>
                                                    <option>City 2</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="pwd">
                                                Zip Code<br>
                                                <span class="text-muted">Zip Code</span>
                                            </label>
                                            <div class="col-md-3 col-sm-5">
                                                <input type="text" class="form-control" id="pwd" placeholder="30000">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="pwd">
                                                Street<br>
                                                <span class="text-muted">Enter Street</span>
                                            </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="pwd" placeholder="123 Main St">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="pwd">
                                                Street 2<br>
                                                <span class="text-muted">Enter Street</span>
                                            </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="pwd" placeholder="-">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="pwd">
                                                Cell Phone No.<br>
                                                <span class="text-muted">Valid Phone Number</span>
                                            </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="pwd" placeholder="+1 999 999 9999">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="pwd">
                                                Other Phone No.<br>
                                                <span class="text-muted">Valid Phone Number</span>
                                            </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="pwd" placeholder="+1 999 999 9999">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="pwd">
                                                Email Address<br>
                                                <span class="text-muted">You Email Address</span>
                                            </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="pwd" placeholder="john.doe@email.com">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row offset-bottom-3">
                            <div class="col-sm-12">
                                <h3 class="h3 ">Documents<span></span></h3>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-2">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <a href="#">
                                                    <div style="height:150px; width:150px; margin:auto" class="blue-bg rounded-block text-center font-color-white">
                                                        <i class="material-icons ">file_upload</i><br>
                                                        Document<br>
                                                        <small>PDF,JPF</small>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-9 col-md-9 col-lg-9">
                                        <div class="table-responsive offset-top-1">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Document Type</th>
                                                        <th>Document Name</th>
                                                        <th>Expires</th>
                                                        <th>Date</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Driving Licence</td>
                                                        <td>Driving_ID.pdf</td>
                                                        <td>Yes</td>
                                                        <td>01/04/2017</td>
                                                        <td><button class="btn btn-primary btn-theme btn-sm btn-custom-grid" type="button">Remove</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Driving Licence</td>
                                                        <td>Driving_ID.pdf</td>
                                                        <td>Yes</td>
                                                        <td>01/04/2017</td>
                                                        <td><button class="btn btn-primary btn-theme btn-sm btn-custom-grid" type="button">Remove</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row offset-bottom-3">
                            <div class="col-sm-12">
                                <h3 class="h3 ">
                                    Account Details
                                    <span></span>
                                </h3>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="email">
                                                Hire Date<br>
                                                <span class="text-muted">Hire Date</span>
                                            </label>
                                            <div class="col-md-7 col-sm-7">
                                                <input type="date" class="form-control" placeholder="">                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="pwd">
                                                Supervisor Name<br>
                                                <span class="text-muted">Supervisor Name</span>
                                            </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="pwd" placeholder="Supervisor Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="email">
                                                Hourly Rate<br>
                                                <span class="text-muted">Hourly Rate</span>
                                            </label>
                                            <div class="col-md-7 col-sm-7">
                                                <div class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <input id="msg" type="text" class="form-control" name="msg" placeholder="50.00">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="pwd">
                                                Title<br>
                                                <span class="text-muted">Title</span>
                                            </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="pwd" placeholder="Title">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="pwd">
                                                Status<br>
                                                <span class="text-muted">Part / Full time</span>
                                            </label>
                                            <div class="col-sm-7">
                                                <select class="form-control" id="sel1">
                                                    <option>Part</option>
                                                    <option>Full time</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="pwd">
                                                Commision<br>
                                                <span class="text-muted">Commision</span>
                                            </label>
                                            <div class="col-sm-7">
                                                <select class="form-control" id="sel1">
                                                    <option>General Commision</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row offset-top-1">
                                    <div class="col-sm-4 offset-bottom-2">
                                        <div class="col-sm-12 grey min-height230px">
                                            <div class="col-sm-12 offset-top-1">
                                                <div class="form-group">
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="checkbox2" type="checkbox" checked="">
                                                        <label for="checkbox2"> Can Login </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="col-sm-12 thin-line">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="checkbox checkbox-primary font-size12 ">
                                                        <input id="checkbox3" type="checkbox" checked="">
                                                        <label for="checkbox3 "> Temporary Restriction </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group ">
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" id="pwd" placeholder="Login Name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <input type="text" class="form-control" id="pwd" placeholder="Password">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <div class="checkbox checkbox-primary font-size12 ">
                                                        <input id="checkbox4" type="checkbox">
                                                        <label for="checkbox4"> 2-Step Authentication </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 offset-bottom-2">
                                        <div class="col-sm-12 grey min-height230px">
                                            <div class="col-sm-12 offset-top-1">
                                                <div class="form-group">
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="checkbox21" type="checkbox" checked="">
                                                        <label for="checkbox21"> Uses POS </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="col-sm-12 thin-line">
                                            <div class="col-sm-12 offset-top-1">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="pwd" placeholder="Enter POS Pin Number">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 offset-bottom-2">
                                        <div class="col-sm-12 grey min-height230px ">
                                            <div class="col-sm-12 offset-top-1">
                                                <div class="form-group">
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="checkbox31" type="checkbox" checked="">
                                                        <label for="checkbox31"> Driver</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="col-sm-12 thin-line">
                                            <div class="col-sm-12 offset-top-1">
                                                <div class="form-group">
                                                    <select class="form-control" id="sel1">
                                                        <option>Default Vehicle</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select class="form-control" id="sel1">
                                                        <option>Default Zone</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row offset-bottom-1">
                                    <div class="col-sm-4">
                                        <div class="col-sm-12 grey min-height230px">
                                            <div class="col-sm-12 offset-top-1">
                                                <div class="form-group">
                                                    <div class="checkbox checkbox-primary">
                                                        <input id="checkbox41" type="checkbox" checked="">
                                                        <label for="checkbox41"> IP Access Restriction</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="col-sm-12 thin-line">
                                            <div class="col-sm-12 offset-top-1">
                                                <div class="form-group">
                                                    <input type="text" class="form-control pull-left width-80-per" id="pwd" placeholder="IP #1">
                                                    <button class="btn btn-primary btn-theme btn-sm btn-custom-grid offset-top-1" type="button">Remove</button>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control pull-left width-80-per" id="pwd" placeholder="IP #2">
                                                    <button class="btn btn-primary btn-theme btn-sm btn-custom-grid offset-top-1" type="button">Remove</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row offset-bottom-3">
                            <div class="col-sm-12">
                                <h3 class="h3 ">
                                    Permissions & User Rights
                                    <span></span>
                                </h3>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-3 col-md-4  col-sm-5" for="email">
                                                Location Permission<br>
                                                <span class="text-muted">Location Permission</span>
                                            </label>
                                            <div class="col-sm-7">
                                                <select class="form-control" id="sel1">
                                                    <option>Location Permission</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="table-responsive offset-top-1">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Location Allowed Access</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Grow</td>
                                                        <td><button class="btn btn-primary btn-theme btn-sm btn-custom-grid" type="button">Remove</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Store</td>
                                                        <td><button class="btn btn-primary btn-theme btn-sm btn-custom-grid" type="button">Remove</button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="table-responsive offset-top-1">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>User Group</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox checkbox-primary font-size12 ">
                                                                <input id="checkbox6" type="checkbox">
                                                                <label for="checkbox6"> Admin </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox checkbox-primary font-size12 ">
                                                                <input id="checkbox7" type="checkbox">
                                                                <label for="checkbox7"> Budtender </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox checkbox-primary font-size12 ">
                                                                <input id="checkbox8" type="checkbox">
                                                                <label for="checkbox8"> Grower </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </form>
</section>