@charset "utf-8";
/* CSS Document */
body {
	background: #0E1428 url(../images/logo-leaf.png) no-repeat left center;
	background-size: contain;
	font-family: 'Montserrat';
	font-weight: normal;
}
.offset-top-12 {
	margin-top: 12em!important;
}
.offset-top-11 {
	margin-top: 11em!important;
}
.offset-top-10 {
	margin-top: 10em!important;
}
.offset-top-9 {
	margin-top: 9em!important;
}
.offset-top-8 {
	margin-top: 8em!important;
}
.offset-top-7 {
	margin-top: 7em!important;
}
.offset-top-6 {
	margin-top: 6em!important;
}
.offset-top-5 {
	margin-top: 5em!important;
}
.offset-top-4 {
	margin-top: 4em!important;
}
.offset-top-3 {
	margin-top: 3em!important;
}
.offset-top-2 {
	margin-top: 2em!important;
}
.offset-top-1 {
	margin-top: 1em!important;
}
.offset-top-0 {
	margin-top: 0em!important;
}
/*Vertical Offset Bottom */

.offset-bottom-12 {
	margin-bottom: 12em!important;
}
.offset-bottom-11 {
	margin-bottom: 11em!important;
}
.offset-bottom-10 {
	margin-bottom: 10em!important;
}
.offset-bottom-9 {
	margin-bottom: 9em!important;
}
.offset-bottom-8 {
	margin-bottom: 8em!important;
}
.offset-bottom-7 {
	margin-bottom: 7em!important;
}
.offset-bottom-6 {
	margin-bottom: 6em!important;
}
.offset-bottom-5 {
	margin-bottom: 5em!important;
}
.offset-bottom-4 {
	margin-bottom: 4em!important;
}
.offset-bottom-3 {
	margin-bottom: 3em!important;
}
.offset-bottom-2 {
	margin-bottom: 2em!important;
}
.offset-bottom-1 {
	margin-bottom: 1em!important;
}
.offset-bottom-0 {
	margin-bottom: 0em!important;
}
/* centered columns styles */
.parent {
	display: table;
}
.child {
	display: table-cell;
	vertical-align: middle;
}
/* Common styles starts */
.padding-l {
	padding-left:0;
}
.padding-r {
	padding-right:0;
}
.padding-rl {
	padding-right:0;
	padding-left:0;
}
.width-80-per{
	width:80%;
	margin-right:8px;
	}
.min-height230px{
	min-height:230px;
}
/* Common styles Ends */
/* Heading styles starts */
h1.h1 {
	font-weight: 300;
	font-size: 22px;
}
h2.h2 {
	color: #1D212A;
	font-size: 17px;
	padding: 0 0 20px;
	margin: 0 0 15px;
	border-bottom: 0.5px solid rgba(195,195,195,0.41);
}
h3.h3 {
	color: #1EC0D0;	font-family: Montserrat;	font-size: 15px;	line-height: 18px;
	padding: 0 0 10px;
	margin: 0 0 15px;
}
h3.h3 span{
	border-bottom: #1EC0D0 3px solid;
	width: 70px;
	display: inherit;
	margin-top: 10px;
	}
/* Heading styles End */
/*Bg block*/
.grey{
	background:#f4f7f8;
	border:1px solid #e3ebed;
	border-radius:4px;
}
.blue-bg{
	background:#1ec0d0;
	padding:25px;
}
a.blue-bg{
	text-decoration:none;
	line-height:normal;
	}
a .blue-bg:hover{
	background:#00aabb;
	text-decoration:none;
	}
.rounded-block{
	border-radius:50%;
}
.font-color-white{
	color:#fff;
}
.blue-bg i{
	font-size:54px;
}
.blue-bg small{
	font-size:9px;
}
/* Font Size styles starts */
.font-size11 {
	font-size: 11px;
}
.font-size12 {
	font-size: 12px;
}
.font-size14 {
	font-size: 14px;
}
/* Font Size styles ends */
/* Login Page styles */
.login-font {
	color: #C3C3C3;
	font-weight: normal;
}
.login-font a {
	color: #C3C3C3;
}
.login-font .btn {
	width: 60%;
	font-size: 14px;
	text-align: left;
}
.login-font .btn i {
	float: right;
	margin-top: 2px;
}
hr {
	border-top: 2px solid #535660;
}
hr.thin-line {
	border-top: 1px solid #E3EBED;
	margin:0 -15px;
}
/* Login Page styles Ends */\ /* Custom Buttons styles starts */
.btn-custom {
 background: linear-gradient(180deg, #23cbd8 0%, #18b4c7 100%);
 border: 1px solid #1ab8ca;
}
.btn-custom:hover {
	background: linear-gradient(180deg, #22efff 0%, #18b4c7 100%);
	border: 1px solid #1ab8ca;
}
.btn-custom-grid {
	background: linear-gradient(180deg, #f3356d 0%, #ee244a 100%);
	color:#fff;
	font-size:10px;
	border:none;
	border-radius:4px;}
	.btn-custom-grid:hover{
	background: linear-gradient(180deg, #d52042 0%, #ee244a 100%);
	color:#fff;
	font-size:10px;
	border:none;}
/* Custom Buttons styles Ends */
/* Tree Menu styles Starts */
.tree, .tree ul {
	margin: 0;
	padding: 0;
	list-style: none
}
.tree ul {
	margin-left: 1em;
	position: relative
}
.tree ul ul {
	margin-left: .5em
}
.tree ul:before {
	content: "";
	display: block;
	width: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	border-left: 1px solid
}
.tree li {
	margin: 0;
	padding: 0 1em;
	line-height: 2em;
	color: #7d8089;
	font-weight: 700;
	position: relative
}
.tree ul li:before {
	content: "";
	display: block;
	width: 10px;
	height: 0;
	border-top: 1px solid;
	margin-top: -1px;
	position: absolute;
	top: 1em;
	left: 0
}
.tree ul li:last-child:before {
	background: #fff;
	height: auto;
	top: 1em;
	bottom: 0
}
.indicator {
	margin-right: 5px;
}
.tree li a {
	text-decoration: none;
	color: #fff;
}
.tree li button, .tree li button:active, .tree li button:focus {
	text-decoration: none;
	color: #7d8089;
	border: none;
	background: transparent;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	outline: 0;
}
.tree ul li.branch {
	font-size: 14px!important;
	color: #fff!important;
}
.tree ul li ul li {
	font-size: 13px!important;
	color: #7d8089!important;
}
/* Tree Menu styles Ends */
/* Push Menu styles Starts */
.inner-body {
	background: #e0e8ea;
}
.pushmenu { /*this is the nav*/
	background: #0E1428 url(../images/logo-leaf.png) no-repeat -20px center;
	background-size: contain;
	text-align: left;
	width: 250px;
	height: 100%;
	top: 0;
	z-index: 1000;
	position: fixed;
}
.pushmenu h3 {
	opacity: 0.42;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 400;
	padding: 18px 25px;
	margin: 0;
	background: #0E1428;
	height: 48px;
}
.links {
	list-style-type: none;
	padding: 0;
	margin: 0 0 0 25%;
	width: 50%;
}
.links li {
	margin-top: 30px;
}
.links li a {
	position: relative;
	display: block; /* drops the nav vertically*/
	color: #f1f1f1;
	font-size: 1.3em;
	font-weight: 400;
	text-decoration: none;
	padding: 14px;
}
.links li a:after {
	content: '';
	display: block;
	position: absolute;
	left: 20px;
	bottom: -5px;
	width: 0;
	height: 4px;
	background-color: #f1f1f1;
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
	transition: width 0.3s ease;
}
.links li a:hover:after {
	width: 70%;
}
.links li a:active {
	color: #dbdbdb;
}
.pushmenu-left {
	left: -250px;
}
.pushmenu-left.pushmenu-open {
	left: 0;
}
.pushmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}
.pushmenu-push-toright {
	left: 250px;
}
/*Transition*/

.pushmenu, .pushmenu-push {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#nav_list {
	/*  background: url(../images/icon_nav.png) no-repeat left top; text-indent: -99999em;*/
	cursor: pointer;
	height: 27px;
	width: 36px;
	color: #444;
	float: left;
	border-right: 1px #ccc solid;
}
nav-list.active {
	background-position: -331px top;
}
.buttonset {
	background: #fff;
	height: 48px;
	padding: 10px 12px 20px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
}
section.content {
	padding: 10px 20px;
}
/* Push Menu styles Ends */
/* Top Dropdown Menu styles Ends */
.navbar-top-links {
	width: 20%;
}
.nav > li > a {
	padding: 8px 15px;
}
.profile-drop {
	margin-top: -12px;
	font-weight: 300;
}
.profile-drop a b {
	color: #2F333B;
	font-size: 13px;
	font-weight: 300;
}
.profile-drop a {
	color: #C3C3C3;
	font-size: 10px;
	font-weight: 300;
}
.profile-drop a .fa {
	color: #2F333B;
	font-size: 15px;
}
.profile-drop img {
	float: left;
	margin-right: 10px;
}
/* Top Dropdown Menu styles Ends */
/* Inner Block styles Starts */
.main-white-block {
	border-radius: 4px;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.07);
	padding: 20px;
}
/* Inner Block styles Ends */
.main-white-block .form-horizontal .control-label {
	text-align: left;
	font-size: 13px;
	font-weight: 200;
	line-height: 16px;
}
.main-white-block .form-horizontal .control-label .text-muted {
	color: #9B9B9B;
	font-size: 11px;
	font-weight: lighter!important;
	line-height: 13px;
}
.main-white-block .form-horizontal .form-control {
	border: 1px solid #e1e1e1;
	border-radius: 4px;
	height: 40px;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #2F333B;	
	font-size: 13px;	
	font-weight:lighter!important;
}
.main-white-block .form-horizontal .form-group {
	margin-bottom: 20px;
}
/*CheckBoxees Styles Starts*/
.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #1ec0d0;
  border-color: #1ec0d0; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }
/*CheckBoxees Styles End*/
/*Table Styles Starts*/
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #1EC0D0;
	font-size:12px;
}
.table > tbody > tr > td {
 	font-size:13px;
}
.table-striped > tbody > tr:p:nth-of-type(2n+1) {
      	background-color: rgba(0,0,0,0.02);
}

.ng-untouched {
    border: 1px solid #ccc;
}

.ng-invalid {
    border: 2px solid #a94442;
}

.alert {
    font-size: 13px;
    padding: 10px 15px;
    border: none;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}