@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-input">

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">

            <input asp-for="OldPassword" class="form-control input-lg" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>

    </div>
    <div class="form-group">
       
            <input asp-for="NewPassword" class="form-control input-lg" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
       
    </div>
    <div class="form-group">
        
            <input asp-for="ConfirmPassword" class="form-control input-lg" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        
    </div>
    <div class="form-group">
        <div class="row m-b-20">
            <button type="submit" class="btn btn-lime btn-lg btn-block">Change password</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
