<div class="row offset-bottom-3">
    <div class="col-sm-12">
        <h3 class="h3 ">
            Account Details
            <span></span>
        </h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-lg-3 col-md-4  col-sm-5" for="email">
                        Hire Date<br>
                        <span class="text-muted">Hire Date</span>
                    </label>
                    <div class="col-md-7 col-sm-7">
                        <input type="date" class="form-control" placeholder="">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-lg-3 col-md-4  col-sm-5" for="pwd">
                        Supervisor Name<br>
                        <span class="text-muted">Supervisor Name</span>
                    </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="pwd" placeholder="Supervisor Name">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-lg-3 col-md-4  col-sm-5" for="email">
                        Hourly Rate<br>
                        <span class="text-muted">Hourly Rate</span>
                    </label>
                    <div class="col-md-7 col-sm-7">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input id="msg" type="text" class="form-control" name="msg" placeholder="50.00">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-lg-3 col-md-4  col-sm-5" for="pwd">
                        Title<br>
                        <span class="text-muted">Title</span>
                    </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="pwd" placeholder="Title">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-lg-3 col-md-4  col-sm-5" for="pwd">
                        Status<br>
                        <span class="text-muted">Part / Full time</span>
                    </label>
                    <div class="col-sm-7">
                        <select class="form-control" id="sel1">
                            <option>Part</option>
                            <option>Full time</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-lg-3 col-md-4  col-sm-5" for="pwd">
                        Commision<br>
                        <span class="text-muted">Commision</span>
                    </label>
                    <div class="col-sm-7">
                        <select class="form-control" id="sel1">
                            <option>General Commision</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row offset-top-1">
            <div class="col-sm-4 offset-bottom-2">
                <div class="col-sm-12 grey min-height230px">
                    <div class="col-sm-12 offset-top-1">
                        <div class="form-group">
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox2" type="checkbox" checked="">
                                <label for="checkbox2"> Can Login </label>
                            </div>
                        </div>
                    </div>
                    <hr class="col-sm-12 thin-line">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="checkbox checkbox-primary font-size12 ">
                                <input id="checkbox3" type="checkbox" checked="">
                                <label for="checkbox3 "> Temporary Restriction </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group ">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="pwd" placeholder="Login Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="pwd" placeholder="Password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="checkbox checkbox-primary font-size12 ">
                                <input id="checkbox4" type="checkbox">
                                <label for="checkbox4"> 2-Step Authentication </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 offset-bottom-2">
                <div class="col-sm-12 grey min-height230px">
                    <div class="col-sm-12 offset-top-1">
                        <div class="form-group">
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox21" type="checkbox" checked="">
                                <label for="checkbox21"> Uses POS </label>
                            </div>
                        </div>
                    </div>
                    <hr class="col-sm-12 thin-line">
                    <div class="col-sm-12 offset-top-1">
                        <div class="form-group">
                            <input type="text" class="form-control" id="pwd" placeholder="Enter POS Pin Number">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 offset-bottom-2">
                <div class="col-sm-12 grey min-height230px ">
                    <div class="col-sm-12 offset-top-1">
                        <div class="form-group">
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox31" type="checkbox" checked="">
                                <label for="checkbox31"> Driver</label>
                            </div>
                        </div>
                    </div>
                    <hr class="col-sm-12 thin-line">
                    <div class="col-sm-12 offset-top-1">
                        <div class="form-group">
                            <select class="form-control" id="sel1">
                                <option>Default Vehicle</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="sel1">
                                <option>Default Zone</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row offset-bottom-1">
            <div class="col-sm-4">
                <div class="col-sm-12 grey min-height230px">
                    <div class="col-sm-12 offset-top-1">
                        <div class="form-group">
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox41" type="checkbox" checked="">
                                <label for="checkbox41"> IP Access Restriction</label>
                            </div>
                        </div>
                    </div>
                    <hr class="col-sm-12 thin-line">
                    <div class="col-sm-12 offset-top-1">
                        <div class="form-group">
                            <input type="text" class="form-control pull-left width-80-per" id="pwd" placeholder="IP #1">
                            <button class="btn btn-primary btn-theme btn-sm btn-custom-grid offset-top-1" type="button">Remove</button>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control pull-left width-80-per" id="pwd" placeholder="IP #2">
                            <button class="btn btn-primary btn-theme btn-sm btn-custom-grid offset-top-1" type="button">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>