<div class="row offset-bottom-3">
    <div class="col-sm-12">
        <h3 class="h3 ">
            Permissions & User Rights
            <span></span>
        </h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-lg-3 col-md-4  col-sm-5" for="email">
                        Location Permission<br>
                        <span class="text-muted">Location Permission</span>
                    </label>
                    <div class="col-sm-7">
                        <select class="form-control" id="sel1">
                            <option>Location Permission</option>
                        </select>
                    </div>
                </div>
                <div class="table-responsive offset-top-1">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Location Allowed Access</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Grow</td>
                                <td><button class="btn btn-primary btn-theme btn-sm btn-custom-grid" type="button">Remove</button></td>
                            </tr>
                            <tr>
                                <td>Store</td>
                                <td><button class="btn btn-primary btn-theme btn-sm btn-custom-grid" type="button">Remove</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="table-responsive offset-top-1">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>User Group</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary font-size12 ">
                                        <input id="checkbox6" type="checkbox">
                                        <label for="checkbox6"> Admin </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary font-size12 ">
                                        <input id="checkbox7" type="checkbox">
                                        <label for="checkbox7"> Budtender </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="checkbox checkbox-primary font-size12 ">
                                        <input id="checkbox8" type="checkbox">
                                        <label for="checkbox8"> Grower </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>