<div class="row offset-bottom-3">
    <div class="col-sm-12">
        <h3 class="h3 ">Documents<span></span></h3>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-2">
                <div class="form-group">
                    <div class="col-sm-12">
                        <a href="#">
                            <div style="height:150px; width:150px; margin:auto" class="blue-bg rounded-block text-center font-color-white">
                                <i class="material-icons ">file_upload</i><br>
                                Document<br>
                                <small>PDF,JPF</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="table-responsive offset-top-1">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Document Type</th>
                                <th>Document Name</th>
                                <th>Expires</th>
                                <th>Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Driving Licence</td>
                                <td>Driving_ID.pdf</td>
                                <td>Yes</td>
                                <td>01/04/2017</td>
                                <td><button class="btn btn-primary btn-theme btn-sm btn-custom-grid" type="button">Remove</button></td>
                            </tr>
                            <tr>
                                <td>Driving Licence</td>
                                <td>Driving_ID.pdf</td>
                                <td>Yes</td>
                                <td>01/04/2017</td>
                                <td><button class="btn btn-primary btn-theme btn-sm btn-custom-grid" type="button">Remove</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>